<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TylerEventsDB" 
      connectionString="Data Source=RDVM00B690V-SRS;Initial Catalog=TylerEvents;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>